@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('fonts/font-icons/style.css');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --danger: #FF0000;
  --neutral: #C8C8C8;
  --primary: #8362F2;
  --secondary: #8DD4CC;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}