.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	z-index: 100;
}

.tooltip .tooltip-text {
	color: #ffffff;
	min-width: 50px;
	white-space: nowrap;
	background-color: #525252;
	text-align: center;
	border-radius: 5px;
	padding: 6px 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
	z-index: 1000;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}